body {
    font-family: 'Russo One', 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

.green_button {
    background-color: #4CAF50;
}
