<html>
  <head>
    <script type=text/javascript src="{{url_for('static', filename='jquery-3.5.1.js') }}"></script>
  </head>
  <body>
    <script>
      $(document).ready( function() {
          $('#plot').click(function() {
              $.ajax({
		  url: "{{ url_for('plot') }}",
		  data: {
		      can_group: false
		  }
	      }).done(function (reply) {
		  $('#container').html(reply);
              });
          });
      });
    </script>
    
    <input type="button" id="plot" value="Plot" />
    <div id="container"></div>
    
    <!-- {{ div_placeholder }} -->
  </body>
</html>
