{% include "vattack.js" %}
<script>
  is_tools_visible = "{{ is_tools_visible }}";
  is_groups_visible = "{{ is_groups_visible }}";
  is_mitigations_visible = "{{ is_mitigations_visible }}";
  is_malware_visible = "{{ is_malware_visible }}";
  $('#group').click(show_plot);
  $('#tool').click(function() {
      if ( is_tools_visible == "True" )
      {
	  $('#tool').val("Tools: Disabled");
	  is_tools_visible = "False";
      }
      else
      {
	  $('#tool').val("Tools: Enabled");
	  is_tools_visible = "True";
      }
      $('#apply').show();
  });
  $('#groups').click(function() {
      if ( is_groups_visible == "True" )
      {
	  $('#groups').val("Groups: Disabled");
	  is_groups_visible = "False";
      }
      else
      {
	  $('#groups').val("Groups: Enabled");	  
	  is_groups_visible = "True";
      }
      $('#apply').show();
  });
  $('#mitigations').click(function() {
      if ( is_mitigations_visible == "True" )
      {
	  $('#mitigations').val("Mitigations: Disabled");
	  is_mitigations_visible = "False";
      }
      else
      {
	  $('#mitigations').val("Mitigations: Enabled");	  
	  is_mitigations_visible = "True";
      }
      $('#apply').show();
  });
  $('#malware').click(function() {
      if ( is_malware_visible == "True" )
      {
	  $('#malware').val("Malware: Disabled");
	  is_malware_visible = "False";
      }
      else
      {
	  $('#malware').val("Malware: Enabled");	  
	  is_malware_visible = "True";
      }
      $('#apply').show();
  });
  $('#apply').click(function() {
      console.log("clicked");
      show_plot(is_tools_visible, is_groups_visible, is_mitigations_visible, is_malware_visible);
  });
</script>

<input type="button" id="groups" value=
       {% if is_groups_visible == "True" %}
       "Groups: Enabled "
       {% else %}
       "Groups: Disabled "
       {% endif %}
       />

<input type="button" id="tool" value=
       {% if is_tools_visible == "True" %}
       "Tools: Enabled"
       {% else %}
       "Tools: Disabled"
       {% endif %}
       />

<input type="button" id="mitigations" value=
       {% if is_mitigations_visible == "True" %}
       "Mitigations: Enabled"
       {% else %}
       "Mitigations: Disabled"
       {% endif %}
       />
<input type="button" id="malware" value=
       {% if is_malware_visible == "True" %}
       "Malware: Enabled"
       {% else %}
       "Malware: Disabled"
       {% endif %}
       />

<input type="button" class="green_button" id="apply" value="Apply changes" style="display: none;"/>
{{ plot_div }}
